<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sgdnhackaton-ftgwc4bebpehcdhk.norwayeast-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/95fdc259-900e-462b-876f-b1baad798b0b/resourceGroups/rg-sgdn-hackaton/providers/Microsoft.Web/sites/sgdnhackaton</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://sgdnhackaton-ftgwc4bebpehcdhk.scm.norwayeast-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>